#require 'csv'
#require 'nkf'

#CSV.generate do |csv|
#   csv_column_names = %w(Title FileName)
#   csv << csv_column_names
#   @picture.each do |picture|
#     csv_column_values = [
#     picture.title,
#     picture.file
#     ]
#   csv << csv_column_values
#   end
#end

<p><%= @msg%></p>

